/* menu */
  #menu {height:62px;margin:auto;clear:both;background:url(../img/menu_bgd.png) no-repeat;}
  #menu ul li ul {opacity: 0.90;          /* CSS3 or For FF 1.5 */}
  #menu ul li ul ul,
  #menu ul li ul ul ul {opacity: 1;          /* CSS3 or For FF 1.5 */}

  #menu ul {margin:0 0 0 10px; padding:0; list-style:none;}
  #menu ul ul {margin:0; }
  #menu ul li {padding-top:1px;line-height:40px;float:left;position:relative;z-index:1000;}
  #menu ul li span,
  #menu ul li a {width:auto !important;width:30px;height:46px;margin:0 8px;padding-top:13px;display:block;cursor:pointer;color:#fefefe;white-space:nowrap;text-decoration:none;}
  #menu ul li:hover span,
  #menu ul li:hover a,
  #menu ul li span:hover,
  #menu ul li a:hover,
  #menu ul li.active span,
  #menu ul li.active a,
  #menu ul:hover li.active:hover span,
  #menu ul:hover li.active:hover a,
  #menu ul:hover li.active span:hover,
  #menu ul:hover li.active a:hover,
  #menu ul li.active:hover ul li span,
  #menu ul li.active:hover ul li a,
  #menu ul li.active ul li span:hover,
  #menu ul li.active ul li a:hover {background:url(../images/menu_arrow.gif) no-repeat center top;}
  #menu ul li.active ul li span,
  #menu ul li.active ul li a,
  #menu ul:hover li.active:hover ul li span,
  #menu ul:hover li.active:hover ul li a,
  #menu ul:hover li.active a {background-image:none;}

  #menu ul li ul {display:none;padding:5px 0;position:absolute;left:0;top:60px;background:#2a839e;/*background:#2a599e;*/}
  #menu ul li ul ul {padding:0;}
  #menu ul li ul li {line-height:110%;float:none;border-bottom:dotted 1px #52a1b8 /*#4180dc*/;padding-top:0;}
  #menu ul li:hover ul li span,
  #menu ul li:hover ul li a {background:none;}
  #menu ul li ul li span,
  #menu ul li ul li a {width:180px !important;height:auto;margin:0;padding:7px 10px;line-height:110%;white-space:normal;}
  #menu ul li ul li.parent span,
  #menu ul li ul li.parent a,
  #menu ul li.active ul li.parent span,
  #menu ul li.active ul li.parent a,
  #menu ul:hover li.active ul li.parent span,
  #menu ul:hover li.active ul li.parent a {background:url(../images/arrow_r.gif) no-repeat right center /*#2a839e*/;}
  #menu ul li:hover ul {display:block;}
  #menu ul li ul li.parent ul li span,
  #menu ul li ul li.parent ul li a,
  #menu ul li.active ul li.parent ul li span,
  #menu ul li.active ul li.parent ul li a,
  #menu ul:hover li:hover ul li.parent ul li span,
  #menu ul:hover li:hover ul li.parent ul li a,
  #menu ul:hover li.active ul li.sfHover span,
  #menu ul:hover li.active ul li.sfHover a {background:none;}
  #menu ul li ul li:hover ul li span,
  #menu ul li ul li:hover ul li a {background:#1e758f;}
  #menu ul li ul li:hover span,
  #menu ul li ul li:hover a,
  #menu ul li ul li span:hover,
  #menu ul li ul li a:hover,
  #menu ul li ul li ul li span:hover,
  #menu ul li ul li ul li a:hover,
  #menu ul:hover li:hover ul li.parent ul li span:hover,
  #menu ul:hover li:hover ul li.parent ul li a:hover,
  #menu ul:hover li.active ul li.parent span:hover,
  #menu ul li ul li.sfHover,
  #menu ul:hover li.active ul li.parent a:hover,
  #menu ul:hover li.active ul li a:hover {background:#16596e;}
  #menu ul li:hover ul li ul {display:none;padding-top:0;position:absolute;left:200px;top:0;}
  #menu ul li ul li ul {position:absolute;left:200px;top:0;}
  #menu ul li:hover ul li:hover ul {display:block;}

  #menu abbr {border:0;}
  #menu ul li .sf-sub-indicator {display:none;}